[Unit]
 Description=The WildFly Application Server
 After=syslog.target network.target

[Service]
 Type=forking
 ExecStart=/opt/wildfly/bin/wildfly.sh start
 ExecStop=/opt/wildfly/bin/wildfly.sh stop

[Install]
 WantedBy=multi-user.target
